@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#about {
  position: relative;
  overflow: hidden; /* Para asegurarte de que el fondo no se desborde */
}

.gradient-animation {
  background: linear-gradient(270deg, #1D1D1D, #2C2C2C, #1D1D1D);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


